.textbody {
    font-size: 12px;
    color: rgb(226, 226, 226);
}

.border {
    border-left-color: rgb(149, 149, 149);
    border-right-color: rgb(149, 149, 149);
    border-top-color: rgb(149, 149, 149);
    border-bottom-color: rgb(149, 149, 149);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
